<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Panel</title>
</head>
<body>
<h1>Admin Panel</h1>
<h2>Users List</h2>
<a th:href="@{/projects}"><button>Cancel</button></a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Role</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${user}">
        <td th:text="${user.id}">ID</td>
        <td th:text="${user.username}">Username</td>
        <td th:text="${user.role}">Role</td>
        <td>
            <form th:action="@{/adminPanel}" method="post">
                <input type="hidden" name="id" th:value="${user.id}" />
                <select name="role" th:value="${user.role}">
                    <option th:each="role : ${role}" th:value="${role.name}" th:text="${role.name}">Role</option>
                </select>
                <button type="submit">Save</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
