<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit task</title>
</head>
<body>
<p>Edit task page</p>
<form th:action="@{/projects/{id}/tasks/{taskId}/editTask(id=${project.id}, taskId=${task.id})}" method="post">
  <p for="name">Name:</p>
  <input name="name" th:value="${task.name}">
  <p for="description">Description:</p>
  <input name="description" th:value="${task.description}">
  <button type="submit">Save</button>
</form>
<a th:href="@{/projects/{id}/tasks/{taskId}(id=${project.id}, taskId=${task.id})}"><button type="button">Cancel</button></a>
</body>
</html>
