<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Project</title>
</head>
<body>
  <p>Edit project page</p>
  <div th:object="${project}">
    <form th:action="@{/projects/{id}/edit(id=*{id})}" method="post">
      <p for="name">Name:</p>
      <input name="name" th:value="*{name}">
      <p for="description">Description:</p>
      <input name="description" th:value="*{description}">
      <button type="submit">Save</button>
    </form>
    <a th:href="@{/projects/{id}/tasks(id=*{id})}"><button>Cancel</button></a>
  </div>
  </body>
</html>