<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/newProjectPage" method="post">
    <table>
        <tr>
            <td><p>Заголовок проекта:</p><input class="read" type="text" name="name"></td>
            <td><p>Описание проекта:</p><input class="read" type="text" name="description"></td>
        </tr>
    </table>
    <button type="submit">Create</button>
</form>
    <a href="/projectsPage"><button>Cancel!</button></a>
</body>
</html>