<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Projects Page</title>
</head>
<body>
<p>This is a projects page! Some projects here!</p>
<a th:href="@{/logout}"><button>Logout</button></a>
<a th:href="@{/adminPanel}"><button>Admin</button></a>
<a th:href="@{/projects/newProject}"><button>Create new project</button></a>
<table>
    <tr th:each="project : ${project}" th:object="${project}">
        <td th:text="*{id}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{description}"></td>
        <td>
            <a th:href="@{/projects/{id}/tasks(id=*{id})}"><button>Select</button></a>
            <a th:href="@{/projects/{id}/delete(id=*{id})}"><button>Delete</button></a>
        </td>
    </tr>
</table>
</body>
</html>